name: awg-ios

on: [push]

jobs:

  Build-WG-iOS:
    name: 'AmneziaWG for iOS'
    runs-on: macos-13
    if: |
      contains(github.event.head_commit.message, '[all]') ||
      contains(github.event.head_commit.message, '[ios]') ||
      contains(github.event.head_commit.message, '[ios-awg]') ||
      contains(github.event.head_commit.message, '[awg]') ||      
      contains(github.event.head_commit.message, '[xray]') ||      
      contains(github.event.head_commit.message, '[ios-xray]')
    strategy:
      matrix:
        arch: [arm64]

    steps:
    - name: 'Install dependencies'
      run: brew install swiftlint

    - name: 'Setup/Update Go'
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.22.1'

    - name: 'Get AmneziaWG'
      uses: actions/checkout@v4
      with:
        repository: amnezia-vpn/amneziawg-apple
        ref: v1.1.2
        path: awg-apple

    - name: 'Build WG'
      working-directory: awg-apple/Sources/WireGuardKitGo
      run: ARCHS=${{ matrix.arch }} PLATFORM_NAME=iphoneos make

    - name: 'Archive artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: awg-ios-${{ matrix.arch }}
        path: ${{ github.workspace }}/awg-apple/Sources/WireGuardKitGo/out
        if-no-files-found: error
        retention-days: 7

  github-release:
    name: GitHub Release
    needs: Build-WG-iOS
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
    - name: Setup | Checkout
      uses: actions/checkout@v4

    - name: Setup | Artifacts
      uses: actions/download-artifact@v4

    - name: Setup | Checksums
      run: for file in $(find ./ -name '*.a' ); do openssl dgst -sha256 -r "$file" | awk '{print $1}' > "${file}.sha256"; done

    - name: Zip ALL
      run: for file in *; do zip -r ${file%.*}.zip  $file; done

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: "*.zip"
        tag: ${{ github.ref }}
        overwrite: true
        file_glob: true
