name: Build Tun2Socks

on: [push]

jobs:
  Build-Tun2Socks:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goarch: amd64
            goos: linux
            name: linux-amd64
          - os: ubuntu-latest
            goarch: arm64
            goos: linux
            name: linux-arm64
          - os: ubuntu-latest
            goarch: amd64
            goos: windows
            name: windows-amd64
          - os: ubuntu-latest
            goarch: arm64
            goos: windows
            name: windows-arm64
          - os: ubuntu-latest
            goarch: amd64
            goos: darwin
            name: macos-amd64
          - os: ubuntu-latest
            goarch: arm64
            goos: darwin
            name: macos-arm64
    runs-on: ${{ matrix.os }}
    if: |
      contains(github.event.head_commit.message, '[all]') ||
      contains(github.event.head_commit.message, '[windows]') ||
      contains(github.event.head_commit.message, '[linux]') ||
      contains(github.event.head_commit.message, '[macos]') ||
      contains(github.event.head_commit.message, '[android]') ||      
      contains(github.event.head_commit.message, '[tun2socks]')  

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4      
    
      - name: 'Get Tun2Socks'
        uses: actions/checkout@v3
        with:
          repository: xjasonlyu/tun2socks
          ref: main
          path: tun2socks

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          check-latest: true

      - name: Get project dependencies
        run: |
          cd tun2socks
          go mod download
      
      - name: Build Tun2Socks for ${{ matrix.name }}
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          cd tun2socks
          mkdir -p build
          if [ "${{ matrix.goos }}" = "windows" ]; then
            go build -v -trimpath -ldflags "-s -w -buildid=" -o build/tun2socks-${{ matrix.goos }}-${{ matrix.goarch }}.exe
          else
            go build -v -trimpath -ldflags "-s -w -buildid=" -o build/tun2socks-${{ matrix.goos }}-${{ matrix.goarch }}
          fi

      - name: Setup | Checksums
        run: |
          cd tun2socks/build
          for file in tun2socks-*; do 
            openssl dgst -sha256 -r "$file" | awk '{print $1}' > "${file}.sha256"
          done

      - name: Upload files to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tun2socks-${{ matrix.name }}
          path: |
            tun2socks/build/tun2socks-*
            tun2socks/build/*.sha256

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tun2socks/build/tun2socks-*
          tag: ${{ github.ref }}
          file_glob: true
